body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  color: #0b217b;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px 0 50px;
  height: 80px;
}

.nav {
  display: flex;
}

.nav a {
  margin-right: 30px;
}

.wrapper {
}

.main-banner {
  height: 684px;
  background-color: #f2f7fe;
  position: relative;
  padding: 50px;
}

.main-banner {
  display: flex;
  align-items: center;
}

.banner-text {
}

button {
  background: #334ccb;
  box-shadow: 0px 4px 20px rgba(88, 116, 255, 0.68);
  border-radius: 8px;
  color: white;
  border: 0;
  padding: 12px 48px;
}

.project-img {
  /* width: 590px;
  height: 390px; */
  /* background-color: lightcoral; */

  margin: 30px;
}

.project-img img {
  max-width: 100%;
  height: auto;
}

.project-description {
  margin: 0px 20px 20px 30px;
}

.project-section h2 {
  color: #0b217b;
  margin: 30px;
}

.project-section {
  /* margin-left: 30px; */
}

.about-section {
  height: 280px;
  background-color: #334ccb;
  border-radius: 0 200px 0 0;
  padding: 50px;
  color: white;
}

.about-and-text {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-and-text h2 {
  color: white;
}

.about-and-text h5 {
  width: 690px;
  margin-right: 100px;
  line-height: 30px;
}

.skills {
  position: absolute;
  width: 1200px;
  height: 309px;
  /* left: 120px;
  top: 2475px; */
  top: 200px;
  left: 8%;

  background: #fff;
  box-shadow: 30px 40px 40px rgba(34, 69, 192, 0.1);
  padding: 50px;
}

.about-and-skills {
  position: relative;
}

.skill-set {
  display: flex;
  justify-content: space-between;
}

.skill {
  color: #0b217b;
}

.tools {
  /* position: absolute; */
  margin-top: 300px;
  margin-left: 30px;
}

.passion {
  /* margin-left: 30px; */
  margin: 50px 30px;
}

.educations {
  margin-left: 30px;
}

.edu-item {
  border-left: solid 1px black;
  /* margin-left: 20px; */
}

.experiences {
  /* margin-left: 30px; */
  margin: 30px;
}

.exp-item {
  padding: 30px;
  border-radius: 0px 30px 0px 0px;
  box-shadow: 0px 5px 10px 10px rgba(34, 69, 192, 0.1);
  margin: 20px;
}

.blog-section {
  margin-left: 30px;
}

.blog-section h3 {
  color: #0b217b;
  margin-left: 15px;
}

.blog-line {
  margin-top: 30px;
}

.blog-description {
  max-width: 380px;
}

footer {
  height: 280px;
  background-color: #334ccb;
  border-radius: 0 200px 0 0;
  padding: 50px;
  color: white;
}

footer h2,
footer h3 {
  color: white;
}

footer a {
  color: white;
}

.contact-hughson {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 20px;
}

.footer-nav {
  display: flex;
  margin-right: 50px;
}

.footer-nav a {
  margin-right: 30px;
}

.copyright {
  font-weight: 100;
}

@media screen and (max-width: 600px) {
  .contact-hughson {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    display: flex;
    flex-direction: column;
  }

  .about-section {
    height: auto;
  }

  /* .skills {
    top: 350px;
    left: 0;
    width: 100%;
  } */

  .project-img {
    width: 100% !important;
    height: auto;
    margin: 30px;
  }

  .project-img img {
    max-width: 350px;
  }

  .skills {
    position: absolute;
    width: 90%;
    height: 309px;
    /* left: 120px;
    top: 2475px; */
    top: 370px;
    left: 0px;
    margin-left: 5%;
  }

  .tools {
    margin-top: 350px;
  }

  footer {
    height: auto;
  }

  .footer-nav {
    flex-direction: column;
  }
}
